@font-face {
    font-family: Archangelsk;
    src: url(./fonts/Archangelsk.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(./fonts/Roboto-Regular.ttf);
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

header {
    width: 1920px;
    height: 1000px;
    overflow: hidden;
    background-image: url(./img/Backpage-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: changing 9s infinite;

}

@keyframes changing {
    0% {
        background-image: url(./img/Backpage-1.jpg);
    }

    33% {
        background-image: url(./img/Backpage-2.jpg);
    }

    66% {
        background-image: url(./img/Backpage-3.jpg);
    }
}

.head-logo {
    display: flex;
    justify-content: space-between;
    margin-left: 320px;
    margin-right: 320px;
    margin-top: 20px;

}

.social-logo {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.bottom-head {
    width: 624px;
    height: 369px;
    top: 631px;
    left: 976px;
    background-color: #F8F200;
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 90%, 90% 100%, 0 100%, 0% 80%, 0 10%);
}

.bottom-head h1 {
    width: 484px;
    height: 126px;
    top: 701px;
    left: 1046px;
    font-family: Archangelsk;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 70px;
    margin-left: 70px;
}

.bottom-head button {
    width: 272px;
    height: 78px;
    top: 852px;
    left: 1046px;
    padding: 19px 50px 19px 50px;
    gap: 10px;
    font-family: Roboto-Regular;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 70px;
    background-color: black;
    border: 0;
    color: #F8F200;
    cursor: pointer;
}

.body-text h1 {
    width: 996px;
    height: 63px;
    top: 1070px;
    left: 320px;
    font-family: Archangelsk;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
}

.body-text p {
    width: 952px;
    height: 125px;
    top: 1158px;
    left: 320px;
    font-family: Roboto-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #777777;
}

.body-text p strong {
    width: 952px;
    height: 125px;
    top: 1158px;
    left: 320px;
    font-family: Roboto-Regular;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #52BEDC;
}

main {
    margin-top: 70px;
    margin-left: 320px;
    gap: 70px;
}

.body-img-1 {
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 70px;
}

.body-img-2 {
    width: 460px;
    height: 424px;
    margin-right: 320px;
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.body-img-2 img {
    width: 460px;
    height: 196px;
    clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 90%, 90% 100%, 0 100%, 0% 80%, 0 10%);
}

.body-img-3 {
    width: 788px;
    height: 424px;
    margin-left: -320px;
}

.body-img-3 img {
    width: 788px;
    height: 424px;
    clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 90%, 90% 100%, 0 100%, 0% 80%, 0 10%);
}

.back {
    width: 1920px;
    height: 70px;
    background-image: url(./img/22_1.png);
}

.form {
    background-color: black;
    width: 1920px;
    height: 884px;
}

.form_text2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 320px;
    gap: 32px;

}

.form_text2 h1 {
    font-family: Archangelsk;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 70px;
    margin-left: 70px;
    color: #ffffff;
}

.form_text p {
    width: 952px;
    height: 91px;
    font-family: Roboto-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    margin-left: 320px;
}

.form_text p strong {
    font-family: Roboto-Regular;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #52BEDC;
}

.form_name {
    margin-left: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form_label {
    margin-left: 320px;
}

.form_name input {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    padding: 11px;
    padding-left: 0;
    color: var(--light-color);
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 26px;
}

.form_label {
    width: 460px;
    height: 120px;
    top: 2418px;
    left: 320px;
    border: 1px;
    border: 1px solid #777777
}

.form_label h1 {
    color: #ffffff;
}

.label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start\;
}

.label2 {
    display: flex;
    flex-direction: column;
}

.back-2 {
    width: 1920px;
    height: 70px;
    background-image: url(./img/22_2.png);
}

.form-2 {
    background-color: #F8F200;
    width: 1920px;
    height: 724px;
}

.advertising-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.advertising-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.advertising {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 70px;
}

.advertising-text p {
    width: 624px;
    height: 125px;
    top: 3022px;
    left: 976px;
    font-family: Roboto-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left
}

.advertising-text h1 {
    width: 560px;
    height: 126px;
    top: 2871px;
    left: 976px;
    font-family: Archangelsk;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.advertising-text button {
    width: 194px;
    height: 59px;
    top: 3338px;
    left: 976px;
    padding: 15px 50px 15px 50px;
    gap: 10px;
    background-color: black;
    color: #F8F200;
    border: 0;
    cursor: pointer;
    font-family: Roboto-regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.box-sale {
    width: 1920px;
    display: flex;
    align-items: flex-start;
}

.box-sale-img {
    width: 944px;
    height: 717px;
    top: 3477px;
    background-image: url(./img/box-game.jpg);
}

.box-sale-text {
    width: 976px;
    height: 717px;
    top: 3477px;
    left: 944px;
    background-color: black;
}

.box-sale-text img {
    margin-left: 32px;
}

.box-sale-text h1 {
    width: 624px;
    height: 126px;
    top: 3547px;
    left: 976px;
    font-family: Archangelsk;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    margin-left: 32px;
}

.box-sale-text p {
    width: 255px;
    height: 28.150239944458008px;
    top: 3937px;
    left: 976px;
    font-family: Roboto-regular;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #52BEDC;
    margin-left: 32px;
    margin-bottom: 60px;
    padding: 0;
}

.platform {
    width: 319px;
    height: 133.26828002929688px;
    top: 3990px;
    left: 976px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
}

footer {
    width: 1920px;
    height: 140px;
    top: 4194px;
    display: flex;
    justify-content: space-evenly;
}

.footer-logo {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    margin-top: 13px;
}
.footer-buttom {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    margin-top: 60px;
}
.footer-buttom a {
    font-family: Roboto-regular;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: black;
text-decoration: none;
}
.end {
    background-color: black;
    text-align: center;
    color: #ffffff;
    width: 1920px;
height: 40px;
}
.end p {
    font-family: Roboto-regular;
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: center;
}